* {
    border: 0;
    margin: 0;
    padding: 0;
}

body { 
    font-family: "Inter", sans-serif;
    font-style: normal;
    color:  #000;
    background-color: #fff;
}

.container {
    margin: 0;
    padding: 0 2rem;
}

@media (min-width: 750px) {
    .container {
        max-width:  750px;
        margin: 0 auto;
    }
}

header {
    padding: 5rem 0 1rem 0;

}

h1 {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1px;
    font-weight: 400;
    margin: 2rem 0;
}

hr {
    width:  40%;
    border: none;
    border-bottom: solid 1px #ddd;
    margin: 3rem auto;
}

a, a:visited {
    text-decoration: none;
    border-bottom: solid 2px #666;
    color: #000;
}

a:hover {
    background-color: yellow;
    border-bottom-color: yellow;
}

a.no-dec, a.no-dec:visited, a.no-dec:hover {
    border: none;
    background-color: transparent;
}

footer {
    margin: 5rem 0 0 0;
    padding:  2rem 0 5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2;
    color: #aaa;
}

footer hr {
    padding-top: 1rem;
    border: none;
    margin: 0;
    width: 100%;
    border-top: solid 1px #ddd;

}

footer a, footer a:visited {
    text-decoration: none;
    border-bottom: solid 1px #666;
}

footer a:hover {
    color: #000;
    background-color: #eee;
    border-bottom-color: #eee;
}

footer p {
    line-height: 22px;
}

main p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #2d2d2d;
    margin: 2rem 0;
}

p + p {
    margin-top: 1rem;
}

